 <img src="http://www.clipartbest.com/cliparts/RTG/78A/RTG78AbTL.jpeg" alt="Volleyball" width="150" height="150">
  <h1>VOLLEYBALL!!!!! :)</H1>
   <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://rails-review-131559.use1-2.nitrousbox.com/clubs">Clubs</a></li>
        <a class="navbar-brand" href="http://rails-review-131559.use1-2.nitrousbox.com/home">Home</a>
          <a class="navbar-brand" href="http://rails-review-131559.use1-2.nitrousbox.com/players">Players</a> 
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Go! <span class="glyphicon glyphicon-hand-right"></span>
      </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  
<div class="row"> 
  <div class="col-md-6">
    <h2><b>Clubs</b></h2>
  </div>
  <div class="col-md-6">
    <h2><b>Information and Links</b></h2>
  </div>
</div>

<div class="row club"> 
  <div class="col-md-6">
    <h3> 1. POWERHOUSE:</h3>
  </div>
  <div class="col-md-6">
    <ul>
      <li> Club DirectorPhone Number: 773.234.5048</li>
      <li> Club Director Email: joelanderson@powerhousevbc.com</li>
      <li> Link to Website: <a href="http://www.powerhousevbc.com/">Powerhousevbc.com</a></li>
      <li> Adress to Facility: 901 West Roosevelt Road, Chicago, Il 60608
    </ul>
  </div>
</div>

<div class="row club"> 
  <div class="col-md-6">
    <h3> 2.ENERGY:</h3>
  </div>
  <div class="col-md-6">
    <ul>
      <li> Club Director Phone Number:  847.965.8028</li>
      <li> Club Director Email:  linda@energyvbc.com </li>
      <li> Link to Website: <a href="http://www.energyvbc.com/">Energyvbc.com</a></li>
      <li> Adress to Facility: Great Lakes Region 745 McClintock Dr. Suite 314  Burr Ridge, IL 60527</li>
    </ul>
  </div>
</div>

<div class="row club"> 
  <div class="col-md-6">
    <h3> 3. TOLEDO:</h3>
  </div>
  <div class="col-md-6">
    <ul>
      <li>  Office Phone Number: 419-794-4656</li>
      <li> Club Email:  info@toledovolleyballclub.com </li>
      <li> Link to Website: <a href="http://www.toledovolleyballclub.com/">Toledovbc.com</a></li>
      <li> Mailing Adress to Facility: Exhibition Hall #1 2901 Key Street Maumee, OH 43537</li>
    </ul>
  </div>
</div>

<div class="row club"> 
  <div class="col-md-6">
    <h3> 4. GREAT LAKES REGION:</h3>
  </div>
  <div class="col-md-6">
    <ul>
      <li>  Office Phone Number: (331) 212-4000</li>
      <li> Club Email: greatlakesvolleyball@glrvb.com </li>
      <li> Link to Website: <a href="http://www.greatlakesvolleyball.org/">GreatLakesvbc.com</a></li>
      <li> Mailing Adress to Facility: 	Great Lakes Region Volleyball 745 McClintock Dr Suite 314 Burr Ridge, IL 60527-0857
    </ul>
  </div>
</div>

<div class="row club"> 
  <div class="col-md-6">
    <h3> 5. CYCLONES:</h3>
  </div>
  <div class="col-md-6">
    <ul>
      <li>  Business Phone Number: 815-267-8204 </li>
      <li> Club Email: cyclonesvolleyballclub@gmail.com </li>
      <li> Link to Website: <a href="http://www.cyclonesvolleyballclub.com/">Cyclonesvbc.com</a></li>
      <li> Adress to Facility: 	VAUGHAN ATHLETIC CENTER 2121 West New Indian Trail Road Aurora, IL 60506
    </ul>
  </div>
</div>

<div class="row club"> 
  <div class="col-md-6">
    <h3> 6. FLIGHT: </h3>
  </div>
  <div class="col-md-6">
    <ul>
      <li>  Business Phone Number: 1-630-337-0945</li>
      <li> Club Email: brieisaacson1@gmail.com </li>
      <li> Link to Website: <a href="http://www.flightvbc.com">Flightvbc.com</a></li>
      <li> Adress to Facility: Flight Volleyball Center 14407 Coil Plus Drive Unit B Plainfield, IL 60544
    </ul>
  </div>
</div>
