<img src="http://www.clipartbest.com/cliparts/RTG/78A/RTG78AbTL.jpeg" alt="Volleyball" width="150" height="150">
  <h1> VOLLEYBALL!!!!! :)</h1>
  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://rails-review-131559.use1-2.nitrousbox.com/clubs">Clubs</a> 
              <a class="navbar-brand" href="http://rails-review-131559.use1-2.nitrousbox.com/home">Home</a>
       <a class="navbar-brand" href="http://rails-review-131559.use1-2.nitrousbox.com/players">Players</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Go! <span class="glyphicon glyphicon-hand-right"></span>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <p><h2> ABOUT VOLLEYBALL: </h2></p>
  
  <ol>
 
  <li><h5> "The game of volleyball was invented in 1895 by William G. Morgan.</li></h5>
  
  <li><h5>The first World Championships were held in 1949 for men and 1952 for women.</li></h5>

<li><h5>Volleyball were first introduced as Olympic sports in 1964.</li></h5>

<li><h5>Most volleyball players jump about 300 times a match.</li></h5>

<li><h5>Volleyball took some of its characteristics from tennis and handball.</li></h5>

<li><h5>The first two-man beach game was played in 1930.</li><h5>

  <li><h5>Volleyball was called mintonette at first but it was later changed to volleyball.</li></h5>

<li><h5>Volleyball is the second most popular sport in the world today, exceeded only by soccer.</li></h5>

<li><h5>The longest recorded volleyball game was in Kingston, North Carolina. It took 75 hours and 30 minutes."</li></h5>
</ul>

<a href="https://www.strength-and-power-for-volleyball.com/how-to-play-volleyball.html">Learn More ></a> 

<h2> VOLLEYBALLS: </h2>

<p><h5> If YOU are looking to buy volleyball(s) then you might want to know what kinds of volleyballs to get. Am I right?</p></h5>
<p><h4>INDOOR VOLLEYBALLS: </p></h5>
<ul>
  <li><h5>Molton </h5></li>
  <li><h5>Makasa</h5></li>
  <li><h5>Tackikara</li></h5>
</ul>

<p><h4> OUTDOOR VOLLEYBALLS (Beach and Grass)</p></h4>
<ul>
  <li><h5> Wilson</h5></p>
  <li><h5>Spalding </h5><p>
  <li><h5> (Beach) Mikasa</h5></p>
</ul>

<a href="http://www.volleyball.org/balls.html">Learn More ></a>
  


