<h1>New Player</h1>

<form action="/create_player">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="team">team</label><br />
    <input id="team" name="team" type="text" />
  </div>
  <div>
    <label for="password">password</label><br />
    <input id="password" name="password" type="password" />
  </div>
     <div>
    <label for="password_confirmation">password_confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

